header.header
    .header__top
        .container
            .header__contacts
                a.header__phone(href="tel:+73952744588") +7 (3952) 74-45-88
                a.header__email(href="#") olimpirk@inbox.ru
                a.header__btn(data-fancybox data-src="#modal" href="javascript:;") Обратный звонок
    .header__content
        .container
            .header__content-inner
                .header__logo
                    a(href="#")
                        img(src="static/images/content/logo.png" alt="")
                nav.menu
                    .header__btn-menu
                        span.icon-bars
                    ul
                        li: a(href="#") Услуги
                        li: a(href="#") Тарифы
                        li: a(href="#") Документы
                        li: a(href="#") Контакты
                        li: a(href="#") О компании


