header.header
    .header__top
        .container
            .header__contacts
                a.header__phone(href="tel:+88002340588") 8 (800) 234-05-88
                a.header__email(href="mailto:olimpirk@inbox.ru") olimpirk@inbox.ru
                a.header__btn(href="#form") Получить консультацию
    .header__content
        .container
            .header__content-inner
                .header__logo
                    a(href="index.html")
                        img(src="static/images/logo-olimp.png" alt="Логотип сайта компании Олимп")
                nav.menu
                    .header__btn-menu
                        span.icon-bars
                    ul
                        li: a(href="#services") Услуги
                        //li: a(href="#") Тарифы
                        li: a(href="docs.html") Документы
                        li: a(href="contacts.html") Контакты
                        li: a(href="about.html") О компании


