section.advantages
    .container
        .advantages__inner
            .advantages__title Наши постоянные клиенты
            .advantages__items
                .advantages__item
                    .advantages__img
                        img(src='static/images/content/advantages/rosneft.png')
                    .advantages__link
                        a(href="https://www.rosneft.ru/" target='_blank') https://www.rosneft.ru/
                .advantages__item
                    .advantages__img
                        img(src='static/images/content/advantages/metro.png')
                    .advantages__link
                        a(href="https://www.metro-cc.ru/" target='_blank') https://www.metro-cc.ru/
                .advantages__item
                    .advantages__img
                        img(src='static/images/content/advantages/rosneft.png')
                    .advantages__link
                        a(href="https://www.rosneft.ru/" target='_blank') https://www.rosneft.ru/
                .advantages__item
                    .advantages__img
                        img(src='static/images/content/advantages/metro.png')
                    .advantages__link
                        a(href="https://www.metro-cc.ru/" target='_blank') https://www.metro-cc.ru/
                .advantages__item
                    .advantages__img
                        img(src='static/images/content/advantages/rosneft.png')
                    .advantages__link
                        a(href="https://www.rosneft.ru/" target='_blank') https://www.rosneft.ru/
                .advantages__item
                    .advantages__img
                        img(src='static/images/content/advantages/metro.png')
                    .advantages__link
                        a(href="https://www.metro-cc.ru/" target='_blank') https://www.metro-cc.ru/
