section.about
    .container
        .about-inner
            .about__title О компании
            .about__text Транспортно - Экспедиционная Компания ООО «Олимп» осуществляет свою профессиональную деятельность – организационно-экспедиционного обслуживания – по всей территории РФ с 2015 г.
            .about__text Опыт специалистов Компании позволяет гарантировать профессиональное исполнение обязательств по доставке грузов. Забота о грузах клиентов – главная задача менеджеров нашей Компании.
            .about__text Выбирая нашу Компанию – Вы приобретаете Партнёра в решении задач транспортного обслуживания. ООО «Олимп» - цивилизованный подход и профессиональная ответственность.