section.about
    .container
        .about-inner
            .about__title О компании
            .about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur dolor dolores, ducimus nostrum odit optio sunt tenetur. Animi asperiores consectetur doloribus esse eum molestias nulla quidem sunt, tempore velit. Ab labore minus nesciunt nulla quaerat?
            a.about__btn.default-btn(href="#") Узнать больше