.services-info__title {
  padding: 30px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #212020;


  @media (min-width: $width-tablet) {
    text-align: center;
  }
}

.services-info__text {
  width: 70%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  //text-align: center;
  color: #868383;
  @media (min-width: $width-tablet) {
    font-size: 16px;
  }
}

.services-info__service-list {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding: 20px;
  //padding-top: 0;
}

.services-info__service-item {
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #535353;

}

.services-info__request-text {
  width: 70%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  //text-align: center;
  color: #868383;
  @media (min-width: $width-tablet) {
    font-size: 16px;
  }
}

.services-info__request-link {
  display: block;
  padding-top: 10px;
}
