section.services-info
    .container
        .services-info__inner
            .services-info__title Услуги, предоставляемые нашей компанией
            .services-info__text Транспортно-Экспедиционная Компания ООО "Олимп" осуществляет свою профессиональную деятельность организационно-экспедиционного обслуживания на территории РФ.
            .services-info__text Компания предлагает индивидуальный тариф на перевозку Вашего груза по следующим направлениям:
            ul.services-info__service-list
                li.services-info__service-item г.Москва - г.Новосибирск - 5 руб/кг и 2000 руб/м3
                li.services-info__service-item г.Москва - г.Барнаул - 9 руб/кг и 3000 руб/м3
                li.services-info__service-item г.Москва - г.Красноярск - 5,5 руб/кг и 2100 руб/м3
                li.services-info__service-item г.Москва - г.Иркутск - 6 руб/кг и 2200 руб/м3
                li.services-info__service-item г.Москва - г.Братск - 12,5 руб/кг и 3800 руб/м3
                li.services-info__service-item г.Москва - г.Усть-Илимск - 15 руб/кг и 4000 руб/м3
                li.services-info__service-item г.Москва - г.Усть-Кут - 15 руб/кг и 4200 руб/м3
                li.services-info__service-item г.Москва - г.Улан-Удэ - 11 руб/кг и 3800 руб/м3
                li.services-info__service-item г.Москва - г.Чита - 13 руб/кг и 4200 руб/м3
                li.services-info__service-item г.Санкт-Петербург - г.Иркутск - 8 руб/кг и 2600 руб/м3
                li.services-info__service-item г.Новосибирск - г.Иркутск - 4,7 руб/кг и 1300 руб/м3
            .services-info__request-text Чтобы оставить Заявку на перевозку груза скачайте файл заявки, заполните его и перешлите по электронной почте
                a.services-info__request-link(href='static/images/docs/blank_zayavka_olimp.docx' target='_blank' download) Заявка на автоэкспедирование
            .services-info__title Надеемся на взаимовыгодное и долгосрочное сотрудничество!
