section.services
    .container
        .services__top
            .services__title-box.title-box
                .services-title.title-box__title Наши услуги
                .services-text.title-box__text Комплексный подход к перевозкам грузов, высокая скорость перевозки, своевременная доставка грузов
            .services__btn
                a.default-btn-second(href="#") Показать все услуги
        .services__items
            .services__item
                .services__item-img
                    img(src="static/images/content/services/cargo.jpg" alt="")
                .services__item-title Грузоперевозки по всей России
                .services__item-text Авто и Железнодорожные перевозки по всем регионам России.
                .services__item-btn
                    a.services__item-link(href="#") Подробнее
                    a.services-btn.default-btn(href="#") Заказать
            .services__item
                .services__item-img
                    img(src="static/images/content/services/autoexp.jpg" alt="")
                .services__item-title Авто-экспедирование в крупных городах России
                .services__item-text Авто-экспедирование грузов и перевозка грузов во всех регионах стран
                .services__item-btn
                    a.services__item-link(href="#") Подробнее
                    a.services-btn.default-btn(href="#") Заказать
            .services__item
                .services__item-img
                    img(src="static/images/content/services/multimod.jpg" alt="")
                .services__item-title Мультимодальные перевозки
                .services__item-text Все виды мультимодальных перевозок. Доставка грузов в труднодоступные регионы.
                .services__item-btn
                    a.services__item-link(href="#") Подробнее
                    a.services-btn.default-btn(href="#") Заказать
            .services__item
                .services__item-img
                    img(src="static/images/content/services/shipping.jpg" alt="")
                .services__item-title Доставка по типу Склад - Склад
                .services__item-text Доставка от одного склада до другого
                .services__item-btn
                    a.services__item-link(href="#") Подробнее
                    a.services-btn.default-btn(href="#") Заказать

