extends layout/main

block variables
	-var title = 'О компании ТК ОЛИМП'

block content
	include modules/header/header
	//include modules/slider/slider
	//include modules/services/services
	include modules/about/about
	//include modules/form/form
	//include modules/advantages/advantages
