extends layout/main

block variables
	-var title = 'Контакты ТК ОЛИМП'

block content
	include modules/header/header
	//include modules/slider/slider
	//include modules/services/services
	include pages/contacts/section-contacts
	//include modules/form/form
	//include modules/advantages/advantages
