section.slider
    .container
        .slider__inner
            .slider__item
                .slider__item-content
                    .slider__title Грузоперевозки по всей России
                    .slider__text Мы предоставляем широкий спектр услуг грузоперевозок по всем регионам России.
                    .slider__text Транспортная компания ОЛИМП
                    a.slider__btn.default-btn(href="#") Оставить заявку
