section.docs
    .container
        .docs-inner
            .docs__title Реквизиты компании, документы
            ul.docs__list-filial
                li.docs__item-filial
                    p.docs__filial-title Реквизиты ООО "Олимп"
                    ul.docs__list-details
                        li.docs__item-details
                            ul.docs__list-detail
                                li.docs__description.docs__item-detail-key Юридический адрес:
                                li.docs__description.docs__item-detail-value 664081, Иркутская обл., г. Иркутск, ул. Депутатская,79
                        li.docs__item-details
                            ul.docs__list-detail
                                li.docs__description.docs__item-detail-key Фактический адрес:
                                li.docs__description.docs__item-detail-value 664024, г. Иркутск, ул. Трактовая 18 А, офис 1
                        li.docs__item-details
                            ul.docs__list-detail
                                li.docs__description.docs__item-detail-key Почтовый адрес:
                                li.docs__description.docs__item-detail-value 664024, г. Иркутск, ул. Трактовая 18 А
                        li.docs__item-details
                            ul.docs__list-detail
                                li.docs__description.docs__item-detail-key ИНН:
                                li.docs__description.docs__item-detail-value 3811043392
                        li.docs__item-details
                            ul.docs__list-detail
                                li.docs__description.docs__item-detail-key КПП:
                                li.docs__description.docs__item-detail-value 381101001
                        li.docs__item-details
                            ul.docs__list-detail
                                li.docs__description.docs__item-detail-key ОГРН:
                                li.docs__description.docs__item-detail-value 1153850032082
                        li.docs__item-details
                            ul.docs__list-detail
                                li.docs__description.docs__item-detail-key ОКПО:
                                li.docs__description.docs__item-detail-value 33282456
                        li.docs__item-details
                            ul.docs__list-detail
                                li.docs__description.docs__item-detail-key Банк, расчетный счет:
                                li.docs__description.docs__item-detail-value 40702810123470000601 ФИЛИАЛ "НОВОСИБИРСКИЙ" АО "АЛЬФА-БАНК"
                li.docs__item-filial
                    p.docs__filial-title Документы
                    ul.docs__list-details
                        li.docs__item-details
                            ul.docs__list-detail
                                li.docs__description.docs__item-detail-key Документы, необходимые для получения груза:
                                li.docs__description.docs__item-detail-value Доверенность с печатью, печать, паспорт
                li.docs__item-filial
                    p.docs__filial-title Типовые документы
                    ul.docs__list-details
                        li.docs__item-details
                            ul.docs__list-detail
                                li.docs__description.docs__item-detail-key
                                    a(href='static/images/docs/blank_dogovor_olimp.pdf' target='_blank') Типовой договор
                                li.docs__description.docs__item-detail-value <-- открывается в новом окне, можно скачать
                        li.docs__item-details
                            ul.docs__list-detail
                                li.docs__description.docs__item-detail-key
                                    a(href='static/images/docs/blank_zayavka_olimp.docx' target='_blank' download) Заявка на автоэкспедирование
                                li.docs__description.docs__item-detail-value <-- скачивание файла
                li.docs__item-filial
                    p.docs__filial-title Регистрационные документы
                    ul.docs__list-regs
                        li.docs__item-reg
                            img.docs__item-img(src='static/images/docs/egrul.jpg')
                        li.docs__item-reg
                            img.docs__item-img(src='static/images/docs/postanovka.jpeg')






