.advantages{
  padding: 55px 0 40px;
  background-image: url("../images/content/advantages/adv-fon.jpg"); // установка изображения
  background-repeat: no-repeat; // не повторять изображение
  background-size: cover; // чтобы изображение растягивалось
  background-position: center; //располагаем изображение по центру
  min-height: 285px; // нужно обязательно указывать
}

.advantages__inner{
  color: #d3d2d2;
  text-align: center;
  //display: flex;
  //justify-content: space-between;
}

.advantages__title{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: .5px;
  padding: 0 0px 40px;
  //position: relative;

}

.advantages__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages__item{
  max-width: 360px;
  width: 100%;
  padding: 0 20px;
  border: 1px solid #d3d2d2;
  border-radius: 5px;
  margin-bottom: 20px;
}


.advantages__img{

  max-width: 360px;
  width: 100%;
  min-height: 250px;
}
.advantages__link{
  line-height: 24px;
  color: #d3d2d2;
  letter-spacing: .14px;
  max-width: 360px;
  width: 100%;
  padding-bottom: 30px;
  a{
    color: #d3d2d2;
  }

}
