section.contacts
    .container
        .contacts-inner
            .contacts__title Контакты
            ul.contacts__list-filial
                li.contacts__item-filial
                    p.contacts__filial-title Иркутск
                    ul.contacts__list-details
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key Адрес центрального офиса:
                                li.contacts__description.contacts__item-detail-value г. Иркутск, ул. Трактовая 18а, офис 1
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key Часы работы офиса:
                                li.contacts__description.contacts__item-detail-value с 9:00 до 18:00, с Пн-Пт, Сб-Вс - выходной
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key Адрес склада:
                                li.contacts__description.contacts__item-detail-value г. Иркутск, ул.Трактовая 18/18 В
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key Часы работы склада:
                                li.contacts__description.contacts__item-detail-value с 9:00 до 18:00, с Пн-Пт, Сб-Вс - выходной
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key телефон:
                                li.contacts__item-detail-value
                                    ul.contacts__item-detail-phone
                                        li.contacts__description.contacts__item-detail-phone-value 79100827243
                                        li.contacts__description.contacts__item-detail-phone-value 89025787758 менеджер по работе с клиентами Лебедева Валентина
                                        li.contacts__description.contacts__item-detail-phone-value 89500813588 менеджер по работе с клиентами Константинова Евгения
                                        li.contacts__description.contacts__item-detail-phone-value 8 (950) 083-00-08 менеджер по работе с клиентами Бахаев Тимовей
                                        li.contacts__description.contacts__item-detail-phone-value 89501375453 Зам. генерального директора Андреев Никита Александрович
                                        li.contacts__description.contacts__item-detail-phone-value 89025126141 менеджер по работе с клиентами Черемных Антон
                                        li.contacts__description.contacts__item-detail-phone-value 7 (908) 77-44-808 Генеральный директор Филиппов Александр Сергеевич
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key email:
                                li.contacts__description.contacts__item-detail-value olimpirk@inbox.ru


                li.contacts__item-filial
                    p.contacts__filial-title Москва
                    ul.contacts__list-details
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key Адрес склада:
                                li.contacts__description.contacts__item-detail-value МО, г. Балашиха, р-н Железнодорожный, ул. Автозаводская 48а, стр.1
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key Часы работы склада:
                                li.contacts__description.contacts__item-detail-value с 9:00 до 18:00, с Пн-Пт, Сб-Вс - выходной
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key телефон:
                                li.contacts__item-detail-value
                                    ul.contacts__item-detail-phone
                                        li.contacts__description.contacts__item-detail-phone-value 79100827920
                                        li.contacts__description.contacts__item-detail-phone-value 88002340588 Диспетчер
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key email:
                                li.contacts__description.contacts__item-detail-value olimpirk@inbox.ru


                li.contacts__item-filial
                    p.contacts__filial-title Красноярск
                    ul.contacts__list-details
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key Адрес офиса:
                                li.contacts__description.contacts__item-detail-value г.Красноярск, ул. Калинина, 84д,оф.3-27
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key Часы работы офиса:
                                li.contacts__description.contacts__item-detail-value с 9:00 до 18:00, с Пн-Пт, Сб-Вс - выходной
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key Адрес склада:
                                li.contacts__description.contacts__item-detail-value Красноярск, ул. Калинина, 169, стр.1
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key Часы работы склада:
                                li.contacts__description.contacts__item-detail-value с 9:00 до 18:00, с Пн-Пт, Сб-Вс - выходной
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key телефон:
                                li.contacts__item-detail-value
                                    ul.contacts__item-detail-phone
                                        li.contacts__description.contacts__item-detail-phone-value 79100827614
                                        li.contacts__description.contacts__item-detail-phone-value 89500991835 Руководитель филиала  Свиридов Роман
                                        li.contacts__description.contacts__item-detail-phone-value 89535885076 менеджер по работе с клиентами Каминский Юрий
                                        li.contacts__description.contacts__item-detail-phone-value 89504379967 менеджер по работе с клиентами Александрова Олеся
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key email:
                                li.contacts__description.contacts__item-detail-value olimpirk@inbox.ru


                li.contacts__item-filial
                    p.contacts__filial-title Новосибирск
                    ul.contacts__list-details
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key Адрес офиса:
                                li.contacts__description.contacts__item-detail-value г. Новосибирск, ул. Толмачевская 43/1, офис 103
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key Часы работы офиса:
                                li.contacts__description.contacts__item-detail-value с 9:00 до 18:00, с Пн-Пт, Сб-Вс - выходной
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key Адрес склада:
                                li.contacts__description.contacts__item-detail-value г. Новосибирск, ул. Толмачевская 43/1, корпус 8
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key Часы работы склада:
                                li.contacts__description.contacts__item-detail-value с 9:00 до 18:00, с Пн-Пт, Сб-Вс - выходной
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key телефон:
                                li.contacts__item-detail-value
                                    ul.contacts__item-detail-phone
                                        li.contacts__description.contacts__item-detail-phone-value 79100826929
                                        li.contacts__description.contacts__item-detail-phone-value 89538042270 Татьяна Стрельская менеджер по работе с клиентами
                                        li.contacts__description.contacts__item-detail-phone-value 89994658000 Антон Стрельской менеджер по работе с клиентами
                        li.contacts__item-details
                            ul.contacts__list-detail
                                li.contacts__description.contacts__item-detail-key email:
                                li.contacts__description.contacts__item-detail-value olimpirk@inbox.ru







