footer.footer
    a(name="contacts")
    .footer__content
        .container
            .footer__inner
                .footer__info
                    .footer__title Грузоперевозки по всей России.
                    .footer__text Авто и Железнодорожные перевозки по всем регионам России.
                    a.header__btn(href="#form") Бесплатная консультация
                    ul.footer__list
                        li: a.footer__phone(href="tel:+73952744588") +7 (3952) 74-45-88
                        li: a.footer__phone(href="tel:+73952748588") +7 (3952) 74-85-88
                        li: a.footer__phone(href="tel:89501375453") 8 (950) 137-54-53
                        li: a(href="mailto:olimpirk@inbox.ru") olimpirk@inbox.ru
                        li: a(href="mailto:olimpkrk@inbox.ru") olimpkrk@inbox.ru
                        li: a.footer__adress(href="#") Иркутск, ул. Трактовая 18 А
                .footer__map.
                    <iframe height="250" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1450.2893389815288!2d104.23525293465401!3d52.31443808609064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5da825001092caa7%3A0x5fbe38b8ae4e767!2z0KLRgNCw0LrRgtC-0LLQsNGPINGD0LsuLCAxONCQLCDQmNGA0LrRg9GC0YHQuiwg0JjRgNC60YPRgtGB0LrQsNGPINC-0LHQuy4sIDY2NDAyNA!5e0!3m2!1sru!2sru!4v1597124899315!5m2!1sru!2sru" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    .footer__copy
        .container
            .copy__text © 2020 TK Olimp LTD. Все права защищены.

